@model List<TodoViewModel>
@{
    ViewBag.Title = "Your todo";
    Layout = "_Layout";
    
}
@{int iterator = Model.Count() + 1;}

<div class="container py-5">

    <div class="card col-md-12" style="margin: 10px;">
         <div class="card-buttons-group">              
                <button class='btn btn-success' id='addUserId'>New todo</button>     
         </div>
    </div>=

    @if (Model == null || Model.Count == 0)
    {
        <div style="padding:40px;"></div>
        <div class="card col-md-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <h5 class="card-title text-center">No TODO yet :(</h5>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Marker</th>
                        <th scope="col">Title</th>
                        <th scope="col">Created</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var todo in Model)
                    {
                        <tr>
                            <th scope="row">@iterator--</th>
                            <td>@todo.Marker</td>
                            <td>@todo.Title</td>
                            <td>@todo.DateCreate</td>
                             <td>
                                <form asp-controller="Todo" asp-action="Delete" asp-route-id="@todo.Id" method="post">
                                     <button type="submit" class="btn btn-sm btn-close">
                                        Delete
                                     </button>
                                </form>
                             </td>
                             <td>
                                 <button type="submit" class="btn btn-sm btn-primary" onclick="openModal({ url: '@Url.Action("", "Todo")', data: @todo.Id })">
                                    Look
                                 </button>
                             </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div

@section pageScripts
    {
    <script src="~/js/modal.js"></script>
    <script>
        let modal = $('#modal');

        $('#addUserId').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Save")',
                success: function (response) {
                    modal.find(".modal-body").html(response);
                    modal.modal('show')
                },
                failure: function () {
                    modal.modal('hide')
                }
            });
        });

        $('#saveBtn').on('click', function () {
            const data = $('#formSaveUser').serialize()
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save")',
                data: data,
                success: function (data) {
                    Swal.fire({
                        title: 'Info',
                        text: data.description,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Info',
                        text: response.responseJSON.errorMessage,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        });
    </script>
}

