@model UserViewModelAdmin

<form id="formSaveUser">
    <div class="row">
        <div class="form-group col-md-4">
            <label class="col-form-label text-black-50">Login</label>
            <input asp-for="@Model.Login" type="text" class="form-control"/>
        </div>
        <div class="form-group col-md-4">
            <label class="col-form-label text-black-50">Password</label>
            <input asp-for="@Model.Password" type="password" class="form-control"/>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Role" class="col-form-label text-black-50"></label>
            <select asp-for="@Model.Role" class="form-control" id="userRoleId">
                <option value="Admin">Admin</option>
                <option value="User">User</option>
                <option value="Moderator">Moderator</option>

            </select>
        </div>
        <div class="form-group col-md-4">
            <label  class="col-form-label text-black-50">First name</label>
            <input asp-for="@Model.FirstName" class="form-control"/>
        </div>
        <div class="form-group col-md-4">
            <label  class="col-form-label text-black-50">Surname</label>
            <input asp-for="@Model.LastName" class="form-control"/>
        </div>
        <div class="form-group col-md-4">
            <label  class="col-form-label text-black-50">Bird date</label>
            <input asp-for="@Model.BirdDate" type="date" class="form-control"/>
        </div>
        <div class="form-group col-md-4">
            <label class="col-form-label text-black-50">Confirm password</label>
            <input asp-for="@Model.PasswordConfirm" type="password" class="form-control" />
        </div>
    </div>
</form>


