@model List<ProjectInfoViewModel>
@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
    
}



<main class="container">
    <div class="my-3 p-3 bg-white">
        <div class="d-flex mb-2 ">
            <h4 class="me-auto p-2">Projects</h4>
            <button class="text-end btn btn-success" id="addProjectId">New project</button>
        </div>
        @foreach(var project in Model)
        {
            <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                        <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index"> <strong class="text-dark">@project.Title</strong></a>
                        <form asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" method="post">
                            <button type="submit" class="btn btn-close"></button>
                        </form>
                </div>
                <span class="d-block">@project.ConpanyType.ToString()</span>
            </div>
        </div>
        }            
    </div>   
</main>
          


    




@section pageScripts
	{
	<script src="~/js/modal.js"></script>
    <script>
        let modal = $('#newProjectModal');

        $('#addProjectId').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create")',
                success: function (response) {
                    modal.find(".modal-body").html(response);
                    modal.modal('show')
                },
                failure: function () {
                    modal.modal('hide')
                }
            });
        });
         $(".btn-close").click(function(){
            modal.modal('hide');
       });

    
        $('#saveNewProject').on('click', function () {
            const data = $('#formCreateProject').serialize()
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create","Project")',
                data: data,
                success: function (data) {
                    Swal.fire({
                        title: 'Info',
                        text: data.description,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Info',
                        text: response.responseJSON.errorMessage,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        });
    </script>


    
}
    

