@model List<ProjectViewModel>
@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
    
}

  
         
    

 <div class="my-3 p-3 ">
        <div class="text-end">              
              <button class="btn btn-success" id="addProjectId">Add Projects</button>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Phone</th>
                <th scope="col">Created</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var project in Model)
            {
                <tr>
                    <td>@project.Title</td>
                    <td>@project.Category.ToString()</td>
                    <td>@project.PhoneNum</td>
                    <td>@project.DateCreated.ToShortTimeString()</td>
                    <td>
                        <form asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" method="post">
                            <button type="submit" class="btn btn-close"></button>
                        </form>
                    </td>
                </tr>
            }
            
            
        </tbody>
    </table>

        
   
        
 </div>
          


    




@section pageScripts
	{
	<script src="~/js/modal.js"></script>
    <script>
        let modal = $('#newProjectModal');

        $('#addProjectId').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create")',
                success: function (response) {
                    modal.find(".modal-body").html(response);
                    modal.modal('show')
                },
                failure: function () {
                    modal.modal('hide')
                }
            });
        });
         $(".btn-close").click(function(){
            modal.modal('hide');
       });

        $('#saveNewProject').on('click', function () {
            const data = $('#formCreateProject').serialize()
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create","Project")',
                data: data,
                success: function (data) {
                    Swal.fire({
                        title: 'Info',
                        text: data.description,
                        icon: 'success',
                        confirmButtonText: 'Ok'
                    })
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Info',
                        text: response.responseJSON.errorMessage,
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    })
                }
            })
        });
    </script>
}
    

